@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.hidden {
  display: none;
}

.index {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: 400;
}

h3 {
  font-size: 29px;
  font-weight: 400;
}

i {
  font-family: 'FontAwesome' !important;
}

.index {
  .dns-watcher-container {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid #a0a0a0;

    .header {
      background-color: #04c699;
      padding: 23px 113px;
      .logo {
        width: 200px;
      }
    }
    //.header

    .status-indication.valid {
      background-color: #2ccaa7;
      .status-icon {
        color: #2ccaa7;
        p i {
          border: 3px solid #2ccaa7;
        }
      }
    }

    .status-indication.error {
      background-color: #ff435d;
      .status-icon {
        color: #ff435d;
        p i {
          border: 3px solid #ff435d;
        }
      }
    }

    .status-indication.checking {
      background-color: #ffc833;
      .status-icon {
        color: #ffc833;
        p i {
          border: 3px solid #ffc833;
        }
      }
    }

    .status-indication {
      padding: 55px 113px;
      color: white;

      .site-title {
        display: inline-block;
        h1 {
          line-height: 68px;
        }
        h3 {
          margin-top: 14px;
          color: #ffd6d6;
        }
      }
      //.site-title

      .status-icon {
        margin-top: 50px;
        float: right;
        padding: 9px 40px 9px 11px;
        background-color: white;
        border-radius: 100px;
        p {
          font-size: 25px;
          i {
            margin-right: 22px;
            text-align: center;
            //border: 3px solid #f9435d;
            border-radius: 100px;
            width: 47px;
            padding: 8px 0px;
            font-size: 30px;
          }
        }
      }
      //.status-icon
    }
    //.status-indication

    .table-contents {
      padding: 53px 113px;
      $grey-color: rgba(0, 0, 0, 0.28);

      .validation-status {
        :hover {
          cursor: pointer;
        }
        p {
          display: inline-block;
          font-size: 35px;
          font-weight: 600;
          &:nth-child(1) {
            padding-right: 40px;
            border-right: 1px solid $grey-color;
          }
          &:nth-child(2) {
            padding-left: 40px;
            color: $grey-color;
          }
        }
      }

      table {
        width: 100%;
        margin-top: 40px;
        thead {
          background-color: #f2f2f2;
          tr {
            td {
              padding: 20px;
              color: $grey-color;
            }
          }
        }
        tbody {
          tr {
            border-bottom: 2px solid #f2f2f2;
            td {
              padding: 20px;
              font-weight: 400;

              i.fa {
                padding: 5px 0;
                width: 30px;
                text-align: center;
                border-radius: 30px;
                color: white;
                font-size: 20px;
              }

              &.status i.fa-check {
                background-color: #04c699;
              }

              &.status i.fa-times {
                background-color: #ff435d;
              }

            }
          }
        }
      }

    }
    //.table-contents

  }
  //.dns-watcher-container
}

//.index

















