.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/package-lock.json
/.env
/scraps/
/scraps/inBrowserFileCheck.js
/frontend/dist/static/
/frontend/dist/index.html
/frontend/node_modules/
/log/*