// VARIABLES ==============================
$white: #fff;
$black: #7b7b7b;
$real-black: #000;
$green: #1685a8; // #28e2b9;
$red: #e20000;
$grey: #bdbdbd;
$good: #16aea0;
$light-grey: #cecece;
$header-background: #083340; //linear-gradient(149deg,#132a45,#143a56,#21a4ce,#19b4ad); // #3e3e3e; // #04c699;
$page-title-background: #FFF; // #1685a8; // #28e2b9;
$thead-background: #f2f2f2;

// RESET ==================================
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  color: $black;
  font: inherit;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

.frontend {
  margin: 0;
}

.page-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 60px;

  @media (max-width: 799px) {
    padding: 0;
  }
}

.flex-box-item-center {
  align-items: center;
  display: flex;
}

.top {
  background: $header-background;
}

.header {
  // background: $header-background;
  padding: 10px 0;

  @media (max-width: 799px) {
    padding: 10px 20px;
  }

  .header-elements-container {
    background: none;
    display: flex;

    .logo-image {
      img {
        height: 35px;
      }
    }
  }
}

.page-title {
  padding: 20px 0;

  @media (max-width: 799px) {
    padding: 20px;
  }

  .title {
    h1 {
      font-size: 32px;
      font-weight: 600;
      color: #FFF;

      @media (max-width: 799px) {
        font-size: 18px;
        font-weight: 600;
      }
    }

    h4 {
      color: #ddd;
      font-size: 18px;

      @media (max-width: 799px) {
        font-size: 13px;
      }
    }
  }

  .current-status {
    margin-left: auto;
    user-select: none;



    p {


      @media (min-width: 800px) {
        background: #FFF;
        border-radius: 100px;
        color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        padding: 15px 40px;

        i {
          font-size: 32px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }

      @media (max-width: 799px) {
        color: $white;
        font-size: 28px;
        font-weight: 600;
        padding: 0 10px 0 3px;
        text-transform: uppercase;
        vertical-align: middle;

        i {
          font-size: 30px;
          vertical-align: middle;

        }
      }
    }
  }
}

.buttons-container {
  // background-color: $page-title-background;
  padding: 0;
  user-select: none;
  border-bottom: 1px solid #eaeaea;

  >div {
    justify-content: center;
  }

  .buttons {
    justify-content: space-evenly;

    .button {
      width: 86px;
      text-align: center;
      cursor: pointer;
      padding: 10px 15px;
      text-transform: uppercase;
      font-size: 16px;
      border: 2px solid rgba(0, 0, 0, 0);
      color: #e2e2e2;

      @media (max-width: 799px) {
        font-size: 12px;
        font-weight: 900;
        margin: 0;
      }

      &.selected,
      &:hover {
        transition: color 0.2s linear;
        color: #FFF;  
        font-weight: bold;
        border-bottom: 3px solid #FFF;
      }
    }
  }
}

.dns-table {

  background: #fafafa;
  padding: 20px 10px;

  & > .page-container {
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 19px 47px 2px rgba(0,0,0,.07);
  }

  .buttons {
    padding-bottom: 10px;

    h4 {
      font-size: 16px;
    }
  }

  .fa {
    font-size: 20px;

    &.good {
      color: $good;
		}

    &.bad {
      color: $red;
    }
  }

  .status {
    text-align: center;
  }

  table {
    width: 100%;

    td {
      $table-element-padding: 15px;
      padding: $table-element-padding;
      vertical-align: middle;
      line-height: 1.3;
      font-size: 14px;

      h6 {
        font-weight: bold;
      }

      h6 + p {
        color: #a2a2a2;
        font-weight: 300;
        font-size: 13px;
      }

      @media (max-width: 799px) {
        padding: 6px 3px;
      }
    }

    @media (min-width: 380px) and (max-width: 799px) {
      font-size: 11px;
    }

    @media (max-width: 379px) {
      font-size: 10px;
    }

    thead {
      background-color: $thead-background;

      tr {
        td {
          font-weight: 900;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }

    tbody {
      .ip {
        h6 {
          font-size: 16px;

          @media (max-width: 379px) {
            font-size: 12px;
          }
        }

        p {
          // font-size: 12px;
        }
      }

      tr {
        border-bottom: 1px solid $thead-background;
      }
    }
  }
}

@media (min-width: 800px) {
  .for-desktop {
    display: block;
  }

  .for-mobile {
    display: none;
  }

  .bad-files {
    color: #e20000 !important;
  }
  .good-files {
    color: $good !important;
  }
  .checking-files {
    color: #dfe286 !important;
  }
}

@media (max-width: 799px) {
  .for-desktop {
    display: none;
  }

  .for-mobile {
    display: block;
  }
}
